html, 
body{
    height: 100%;
    width: 100%;
}
.navbar-nav li {
    padding-right: 20px;
    margin-right: 5px;
  }
  .navbar-nav {
      padding: 10px 10px;
  }
  
h1{
    font-family: "Times New Roman", sans-serif, serif;
    font-size: 3.1rem !important;
}
.hero1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/banner.jpg");
    height: 90vh;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.navbarBlack {
    padding: 1rem 4rem;
    padding-top: 1rem;
    padding-right: 4rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    background-color: 
    #000 !important;
}

.nav-item {
    color: #fff !important;
}

.is-hovered{
    color: #007640 !important;
}
/* button on the home page  */
button{
    background-color: #007640 ;
    color: white;
    padding: 16px 56px;
    border: none;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
}
/* centered text on header image  */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Navbar hover */
/* .doubleDashed {
    height: 40px;
    color: green;
    padding: 0 14px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.doubleDashed::before,
.doubleDashed::after {
    position: absolute;
    content: '';
    left: 0;
    height: 2px;
    width: 100%;
    background-color: green;
    transition: transform 0.2s ease-in-out;
}

.doubleDashed::before {
    top: 0;
    transform: translateX(-100%);
}

.doubleDashed::after {
    bottom: 0;
    transform: translateX(100%);
}

.doubleDashed:hover::after,
.doubleDashed:hover::before {
    transform: translateX(0);
} */
