<template>
  <div>
    <navbar></navbar>
    <h1>Youtube Sync Status</h1>
    <div>
      <ul id="v-for-oject" class="demo">
        <li v-for="(value, name) in SyncStatus" :key="name">  
          {{ name }} : {{ value}}
        </li>
      </ul>
     
    </div>
  </div>
</template>
<script>
import Navbar from '@/components/Navbar'
import axios from 'axios'
export default {
  name: 'About',
   data() {
    return {
      SyncStatus: ''
    }
  },
  components: {
    Navbar
  },
  created() {
    axios.get('https://api.lbry.com/yt/queue_status')
    .then(response => {
      this.SyncStatus = response.data
    })
    .catch(e =>{
      this.errors.push(e)
    })
  }
}
</script>
 