<template>
 <div>
   <navbar></navbar>
    <div class="bgtext">
      <div class="hero1"></div>
      <div class="centered">
        <h1>LBRY Ghana Community</h1>
        <h4>Where individuality and community coexist</h4>
        <router-link to="#"><button type="button">Contact Us</button></router-link>
      </div>
    </div>
 </div>
</template>

<script>
import Navbar from '@/components/Navbar'
export default {
  name: 'Home',
  components: {
    Navbar
  }
}
</script>
<style scoped>
.bgtext {
  position: relative;
  text-align: center;
  color: white;
}

</style>
