<template>
  <div>
    <b-navbar class="navbarBlack" toggleable="lg" variant="" >
      <b-navbar-brand href="/home"><img src="../assets/images/bbp.png" alt="block bit pay logo" height="50px" width="60px"></b-navbar-brand>
      <b-navbar-toggle target="nav-collapse">
      </b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <router-link to="#" class="nav-link doubleDashed is-hovered" aria-haspopup="true" aria-expanded="false" style="color: #007640">Home</router-link>
          </li>
          <li class="nav-item">
            <router-link to="#" class="nav-link doubleDashed is-hovered" aria-haspopup="true" aria-expanded="false" style="color:white">What is LBRY</router-link>
          </li>
          <li class="nav-item">
            <router-link to="#" class="nav-link doubleDashed is-hovered" aria-haspopup="true" aria-expanded="false" style="color:white">Events</router-link>
          </li>
          <li class="nav-item">
            <router-link to="#" class="nav-link doubleDashed is-hovered" aria-haspopup="true" aria-expanded="false" style="color:white">Media</router-link>
          </li>
          <li class="nav-item">
            <router-link to="#" class="nav-link doubleDashed is-hovered" aria-haspopup="true" aria-expanded="false" style="color:white">Hive</router-link>
          </li>
        </ul>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
  </div>
</template>
<script>
export default  {
name: 'Navbar'
}
</script>
<style>

</style>